<div class="main">
  <% @issues.each do |issue| %>
    <div class="container">
      <div><%= issue.title %></div>
      <br>

      <wrap class="btn btn-flat-border">
        <%= link_to("詳細", "/issue/show/#{issue.id}") %>
      </wrap>
      <wrap class="btn btn-flat-border">
        <%= link_to("編集", "/issue/edit/#{issue.id}") %>
      </wrap>
      <wrap class="btn btn-flat-border">
        <%= link_to("削除", "/issue/destroy/#{issue.id}") %>
      </wrap>
    </div>
  <% end %>
</div>