<div class="main">
  <div class="container">
    <h1>課題登録</h1>
    <div class="form-group">
      <h2><label>タイトル:</label></h2>
      <div class="input-content">
        <%= @issue.title %>
      </div>
    </div>

    <div class="form-group">
      <h2><label>内容:</label></h2>
      <div class="input-content">
        <%= @issue.content %>
      </div>
    </div>

    <hr>
    <br>
    <br><br>
  </div>
</div>