<div class="main">
  <div class="container">
    <h1>ユーザの詳細</h1>
    <div class="form-group">
      <h2><label>名前</label></h2>
      <div class="input-content">
        <%= @user.user_name %>
      </div>
    </div>

    <div class="form-group">
      <h2><label>ID</label></h2>
      <div class="input-content">
        <%= @user.login_id %>
      </div>
    </div>

    <hr>

    <br>
    <wrap class="btn btn-flat-border">
      <%= link_to("編集", "/user/edit/#{@user.id}") %>
    </wrap>
    <wrap class="btn btn-flat-border">
      <%= link_to("削除", "/user/destroy/#{@user.id}") %>
    </wrap>
    <br><br>
  </div>
</div>